filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/{{COMPONENT}}.log

{% if IS_STRUCTURED %}
output.elasticsearch:
  hosts: ["172.31.20.192:9200"]   ##ELK ip addr
{% endif %}

{% if not IS_STRUCTURED %}
output.logstash:
  hosts: ["172.31.20.192:5044"]    ##ELK ip addr
{% endif %}


filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1