filebeat.inputs:
  - type: log
    enabled: true
{% if IS_STRUCTURED %}
    json.keys_under_root: true
{% endif %}
    paths:
      - {{FILENAME}}
    fields:
      component: {{COMPONENT}}
{% if APP_TYPE == "JAVA" %}
    multiline.pattern: "^[0-9][0-9][0-9][0-9]"
    multiline.negate: true
    multiline.match: after
{% endif %}
{% if APP_TYPE == "PYTHON" %}
    include_lines: ["^\[[0-9]"]
{% endif %}

{% if IS_STRUCTURED %}
setup.ilm.enabled: false
setup.template.name: "{{COMPONENT}}"
setup.template.pattern: "{{COMPONENT}}-*"
output.elasticsearch:
  hosts: ["172.31.30.220:9200"]
  index: "{{COMPONENT}}-%{+yyyy.MM.dd}"
{% endif %}

{% if not IS_STRUCTURED %}
output.logstash:
  hosts: ["172.31.30.220:5044"]
{% endif %}


filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1
