- name: Remove old content
  ansible.builtin.file:
    path: "{{APP_DIR}}"
    state: absent

- name: Extract Package
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/{{COMPONENT}}/archive/main.zip
    dest: "{{EXTRACT_DIR}}"
    remote_src: yes
